.card {
  max-width: 500px;
  padding: get($spacings, 'large');
  text-align: center;
  background-color: $c-white;
  border: 1px solid $c-border;
  border-radius: get($radii);
  box-shadow: get($shadows);

  &__title {
    text-align: center;
  }

  &__action {
    margin: get($spacings, xlarge) 0;
  }
}
