.card {
  $_side-padding: get($spacings, 'large');
  $_side-padding-lg: get($spacings, 'xlarge');

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  text-align: center;

  &__title {
    text-align: center;
  }

  &__actions {
    position: relative;
    flex-grow: 1;
    margin: 0 (-$_side-padding) 0;
    overflow: hidden;
  }

  &__action {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 $_side-padding;
    font-size: 1.35em;
    transform: translate(-100%, 0);
    transition: transform .2s ease-in-out;

    &--infoSummon {
      top: auto;
      bottom: 60%;
      margin-bottom: get($spacings);
    }

    &--infoOmw,
    &--buttonRetry button {
      color: #28c23e;
    }

    &--buttonRetry {
      top: auto;
      bottom: 10%;
    }

    &--visible {
      transform: translate(0, 0);
    }

    &--infoOmw,
    &--infoRejection {
      top: 40%;
      margin-top: get($spacings);
    }

    &--infoRejection {
      color: $c-error;
    }

    &--buttonSummon {
      top: 50%;
      transform: translate(100%, -50%);

      &.card__action--visible {
        transform: translate(0, -50%);
      }
    }
  }

  @media screen and (min-width: 500px) {
    flex-grow: 0;
    max-width: 500px;
    padding: $_side-padding-lg;
    border: 1px solid $c-border;
    border-radius: get($radii);
    box-shadow: get($shadows);

    &__actions {
      min-height: 20em;
      margin: 0 (-$_side-padding-lg) 0;
    }

    &__action {
      padding: 0 $_side-padding-lg;
    }
  }
}
