$c-black: #000;
$c-white: #fff;
$c-malachite: #28c23e;
$c-barn: #c21807;
$c-alabaster: #fafafa;
$c-porcelain: #e5e8e8;
$c-navy-dark: #1d2738;
$dove-gray: #676767;

$c-text: $dove-gray;
$c-heading: $c-navy-dark;
$c-accent: $c-malachite;
$c-background: $c-alabaster;
$c-border: $c-porcelain;
$c-error: $c-barn;
