%font-default {
  font-family: 'Noticia Text', sans-serif;
}

%font-special {
  font-family: Gilroy, sans-serif;
}

%font-text {
  @extend %font-default;

  font-size: get($font-sizes);
  font-weight: 400;
  line-height: 1.5;
  color: $c-text;
}

%font-heading {
  @extend %font-special;
  @extend %margin-clean;

  margin: 0 0 get($spacings);
  font-size: get($font-sizes, 'large');
  font-weight: get($font-weights, 'bold');
  line-height: 1.2;
  color: $c-heading;

  @media screen and (min-width: 500px) {
    margin-bottom: get($spacings, 'large');
  }
}

body {
  @extend %font-text;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  @extend %font-heading;
}

p {
  margin-top: 0;
  margin-bottom: 0;

  & + & {
    margin-top: get($spacings);
  }
}

@media screen and (min-width: 500px) {
  p {
    & + & {
      margin-top: get($spacings, large);
    }
  }
}
