$spacings: (
  small: 10px,
  default: 15px,
  large: 30px,
  xlarge: 45px,
);

$font-sizes: (
  small: 14/16 * 1rem,
  default: 1rem,
  large: 28/16 * 1rem,
);

$font-weights: (
  default: 400,
  bold: 700,
);

$radii: (
  default: 8px,
);

$shadows: (
  default: #{'0 4px 10px 1px rgba(0, 0, 0, 0.07)'},
);
